.container {
    border: solid 1px $line-color;
    border-radius: 10px;
    color: $text-color;

    width: 250px;
    padding: 20px 20px 0 20px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;

    hr {
        color: $line-color;
    }
    .section {
        margin: 10px 0;

        label {
            font-size: 12px;
        }
        .section-title {
            span {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 5px;
            }
        }
    
        .options {
            max-width: 300px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    
}