.header {
    .title {
    
        img {
            width: 50px;
        }
        strong {
            font-weight: 600 !important;
        }
    
        span{
            font-size: 25px;
            font-weight: 200;
            position: absolute;
            left: 95px;
            top: 40px;
        }
    }
}