.fields {
    .field {
        margin: 10px 0;
        input {
            width: 230px;
            height: 30px;
            border: solid 1px $grey-color;
            border-radius: 5px;

            font-size: 14px;
            padding-left: 15px;
            outline: none;
            color: $text-color;
        }

        .copy {
            position: relative;
            float: right;
            font-size: 18px;
            bottom: 28px;
            right: 10px;
            color: $copy-color;

            &:hover {
                transition: .3s;
                cursor: pointer;
                color: $copy-color-hover;
            }
        }
    }
}