.container {
    border: solid 1px #b3b3b3;
    border-radius: 10px;
    color: #333333;

    width: 310px;
    padding: 20px 20px 0px 20px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;


    .content {
        font-family: monospace;
        > .options {
            > div {
                > div {
                    display: flex;
                    > div {
                        padding: 0 5px;
                    }
                }
            }
        }
    }
}