.fields {
    > div {
        margin: 10px 0;
        input, textarea {
            width: 290px;
            padding: 0 10px;
            height: 30px;
            border-radius: 5px;
            border: solid 1px #a3a3a3;
            font-family: monospace;
            outline: 0;
        }

        textarea {
            padding-top: 5px;
            height: 60px;
            resize: none;
        }
    }
}